.car:hover {
    color: green;
}

@keyframes CarAnimation {
    0%   { color: #537380; }
    50% { color: rgba(0, 0, 0, 0.5); }
    100%   { color: #537380; }
  }
.car {
    transform: translate(-50%, -50%);
    animation: CarAnimation 2s infinite;
}