@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

#map {
    height: calc(100vh - 56px);
}

.chip {
    position: absolute;
    margin: 5px;
    padding: 5px 12px !important;
    font-size: 18px !important;
    z-index: 10;
    display: flex;
    justify-content: center;
    font-family: 'Noto San TC', sans-serif !important;
}